<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bareisha.smsbankinganalyst">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.bareisha.smsbankinganalyst.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/label_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name="com.bareisha.smsbankinganalyst.SmsListActivity"
            android:label="@string/sms_list_label"/>

        <activity
            android:name=".SmsDetailActivity"
            android:label="@string/sms_detail_activity_label"
            android:parentActivityName=".SmsListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SmsListActivity"/>
        </activity>

        <provider
            android:authorities="com.bareisha.smsbankinganalyst"
            android:name="com.bareisha.smsbankinganalyst.repository.SmsContentProvider"
            android:exported="false"/>

        <receiver android:name=".service.monitor.SMSMonitor">
            <intent-filter android:priority="100">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".service.SmsLoadingService"
            android:exported="false"/>

    </application>

</manifest>